---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="text-lg text-primary">
		<div class="m-4 flex justify-center w-full">
			<div class="max-w-2xl">
				<slot />
			</div>
		</div>
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}

	@layer base {
		h1 {
			@apply font-bold text-5xl mt-4 mb-6;
		}
		h2 {
			@apply font-bold text-2xl mt-8 mb-2;
		}
		p {
		}
		p + p {
			@apply mt-4;
		}
		ul {
			@apply list-disc list-outside ml-6 mb-6;
		}
		li {
			@apply my-2 ml-2;
		}
		a {
			@apply text-link;
		}
	}
</style>
